{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class = "login-background">
        <h1 class="login-text">Register</h1>
        <form action="/register" method="post">
            <div class="mb-3">
                <lable class="login-subtext" for="username">Username</lable>
                <i class="bi bi-person-lock"></i>
                <input autocomplete="off" autofocus class="login-input" id="username" name="username" placeholder="Type your username" type="text">
            </div>
            <div class="mb-3">
                <lable class="login-subtext" for="password">Password</lable>
                <i class="bi bi-key"></i>
                <input class="login-input" id="password" name="password" placeholder="Type your password" type="password">
            </div>
            <div class="mb-3">
                <lable class="login-subtext" for="confirmation">Confirm Password</lable>
                <i class="bi bi-check2-all"></i>
                <input class="login-input" id="password" name="confirmation" placeholder="Please re-type password" type="password">
            </div>
            <div class="radio-tile-group">
                <div class="input-container">
                    <input type="radio" value = "student" name="radio" id = "student">
                    <div class="radio-tile">
                        <i class="bi bi-pencil-fill"></i> 
                        <label for="student">Student</label>
                    </div>
                </div>
                <div class="input-container">
                    <input type="radio" value = "teacher" name="radio" id = "teacher">
                    <div class="radio-tile">
                        <i class="bi bi-eyeglasses"></i>
                        <label for="teacher">Teacher</label>
                    </div>
                </div>
            </div>
            <button id = "register-button" class="submit-button" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
